*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #04161f;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.875em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #04161f;
}

a {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
body {
  background: #1572a1;
  max-width: 1000px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5vh;
}
.container {
  max-width: 500px;
  width: 100%;
  max-height: 676px;
  padding: 0;
}
.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
  display: block;
  max-width: 100%;
  max-height: 665px;
}
textarea:focus,
input:focus {
  outline: none;
}
a:hover {
  color: #1572a1;
}
.cadastro {
  width: 100%;
  max-width: 500px;
  background: #9ad0ec;
  padding: 30px 30px;
  text-align: center;
}
.logo {
  text-align: center;
}
.logo img {
  max-width: 200px;
}
.formulario h3 {
  margin-top: 30px;
}
form {
  margin-top: 20px;
  margin-bottom: 30px;
}
label,
input {
  display: block;
  width: 100%;
  text-align: left;
}
label {
  font-weight: bold;
}
input {
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}
input:focus {
  border-bottom: 2px solid #1572a1;
}
#forgot-pass {
  display: block;
  text-align: right;
  margin-top: -18px;
  margin-bottom: 30px;
}
input#submit {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background: #1572a1;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  border-top: -10px;
}
input#submit:hover {
  background-color: #052330;
  transition: 0.5s;
}
.redes-sociais p {
  margin-bottom: 20px;
}
.redes-sociais i {
  color: #1572a1;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
  line-height: 40px;
  margin: 0 5px;
}
.registrar {
  margin-top: 20px;
}
.registrar p {
  display: inline;
}
