<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Carrinho</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav flex-grow-1">
          <li class="carrinho-item">
            <div class="carrinho-info">
              <img src="">
              <div>
                <h5></h5>
                <h5>R$</h5>
                <div class="produto-comprar">
                  <ul>
                    <li><a>-</a></li>
                    <li><a>1</a></li>
                    <li><a>+</a></li>
                  </ul>
                  <a>Excluir</a>
                </div>
              </div>
          </div>
        </li>
      </ul>
      <form action="/finalizar-compra/login">
        <button class="btn">Finalizar Compra</button>
      </form>
    </div>
  </div>