<footer>
    <div class="container grid-footer">
      <div class="logo">
          <img src="../img/logos/logoPrincipal_editoraSabia.svg">
      </div>
      <div>
          <h5>Sobre Nós</h5>
          <ul>
              <li><a href="">Quem somos</a></li>
              <li><a href="">Localização das lojas</a></li>
          </ul>
      </div>
      <div>
          <h5>Contato</h5>
          <ul>
              <li><a href="">Fale conosco</a></li>
              <li><a href="">Trabalhe conosco</a></li>
          </ul>
      </div>
      <div>
          <h5>Redes Sociais</h5>
          <ul class="redes-sociais">
              <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
              <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
              <li><a href="https://br.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
          </ul>
          <h5>Formas de pagamento</h5>
          <ul class="pagamentos">
              <li><a><img src="/img/icon/visa.png"></a></li>
              <li><a><img src="/img/icon/mastercard.png"></a></li>
              <li><a><img src="/img/icon/americanexpress.png"></a></li>
              <li><a><img src="/img/icon/paypal.png"></a></li>
          </ul>
      </div>
  </div>
  </footer>
 
  <script type="text/javascript" src="../js/bootstrap.js"></script>
</body>
</html>