<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <!-- Responsividade -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.css">
  <!-- Importando css -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- FontAwesome -->
  <!-- <link rel="stylesheet" href="/fontawesome/css/all.css"> -->
  <link rel="stylesheet" href="/fontawesome/css/all.css">

  <title>Editora Sabiá</title>
</head>

<body>

  <!-- Header Principal -->
  <header>
    <div class="header-1">
      <div class="logo"><a href="home"><img src="/img/logos/logoBranco_editoraSabia.svg" alt="Ir para a Home"></a>
      </div>
      <div class="pesquisa">
        <form action="/action_page.php">
            <input type="text" placeholder="Livro ou Serie" name="search">
            <button class="botao-pesquisa" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
      </div>
      <div>
        <ul class="menus-header">
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn"><i class="fa-solid fa-user"></i></a>
            <div class="dropdown-content">
              <a href="/login">Login</a>
              <a href="/cadastro">Cadastrar</a>
            </div>
          </li>
          <li><button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar">
              <span><i class="fa-solid fa-cart-shopping"></i></span>
            </button></li>
        </ul>
      </div>
    </div>
  </header>
  <!-- Navbar -->
  <div class="header-2">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <button class="navbar-toggler botao-mobile custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Categorias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Lançamentos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Livros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">E-books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Séries</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>