<!-- Header -->
<%- include('./partials/header') %>

    <!-- Conteudo Cadastrar-->
    <main class="cadastro container">
        <div class="cadastro-img">
        </div>
        <div class="cadastro-info">
            <img class="cadastro-logo" src="/img/logos/logoPreto_editoraSabia.svg">
            <h3>Criar conta</h3>
            <form action="/usuario/cadastro" method="POST">
                <label>Nome Completo:</label>
                <input name="nome" id="nome">
                <label>E-mail:</label>
                <input name="email" id="email">
                <label>Senha:</label>
                <input name="senha" id="senha">
                <button class="btn"><a>Criar conta</a></button>
            </form>
            <p>Ou crie ultilizando sua conta:</p>
            <div class="cadastro-redes">
                <a class="btn btn-outline-dark" href="/users/googleauth" role="button" style="text-transform:none">
                    Cadastre com
                    <i class="fa-brands fa-google"></i>
                </a>

                <a class="btn btn-outline-dark" href="/users/googleauth" role="button" style="text-transform:none">
                    Cadastre com
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </div>
            <p>Ja tem uma conta? <a class="acessar">Acesse aqui!</a></p>
        </div>
    </main>

<!-- Carrinho -->
<%- include('./partials/carrinho') %>

<!-- Footer -->
<%- include('./partials/footer') %>