<!-- Header -->
<%- include('./partials/header') %>

    <!-- Conteudo -->
    <main>
      <div id="confirmacao">
        <h2>Finalização de compra bem sucedida!
                <br>
            A Editora Sabiá fica feliz pela sua compra.
            Caso queira rastrear sua compra, acesse o 
            código de rastreio: BR580904345.</h2>
      </div>
    </main>

<!-- Carrinho -->
<%- include('./partials/carrinho') %>

<!-- Footer -->
<%- include('./partials/footer') %>