<!-- Header -->
<%- include('./partials/header') %>

    <!-- Conteudo -->
    <main>

        <div class="primeira">
            <section>
                <img id="logo-login" src="./img/logos/logo.login.png" alt="">
                <p>Identificação</p>
            </section>
            <hr size="10" width="100%" align="center" noshade>
            <form action="">
                <label for="email">Insira seu e-mail para continuar</label>
                <input type="email" name="Email" id="user or email" placeholder="example@gmail.com">
                <a href="./confirmação-de-compra.html"><input type="button" id="proximo" value="Próximo >"></a>
                <a href="https://www.facebook.com/"><input type="button" id="facebook" value="Conectar com"></a>
                <a href="https://www.google.com/account"><input type="button" id="google" value="Conectar com"></a>
                <a href="#"><input type="button" id="cadastrar" value="Cadastrar"></a>
        </div>

        <div class="segunda">
            <section>
                <img id="logo-login" src="./img/logos/logo.login.png" alt="">
                <p>Endereço de entrega</p>
            </section>
            <hr size="10" width="100%" align="center" noshade>
            <section id="entrega">
                <h4>Aguardando identificação</h4>
                <img src="./img/logos/logo-entrega.png" alt=""><a href="www.google.com">Endereço de entrega</a>
                <hr size="10" width="100%" align="center" noshade>
                <h4>Aguardando definição do endereço
                    de entrega</h4>
                <img src="./img/logos/logo-pagamento.png" alt=""><a href="www.google.com">Endereço de entrega</a>
                <hr size="10" width="100%" align="center" noshade>
                <h4>Preencha os dados de entrega para
                    prosseguir com o pagamento</h4>
            </section>
        </div>

        <div class="terceira">

            <section>
                <img id="logo-login" src="./img/logos/logo-carrinho.png" alt="">
                <p>Resumo do pedido</p>
            </section>

            <hr size="10" width="100%" align="center" noshade>

            <section id="pedido">
                <section id="prod01">
                </section>

                <section id="info-prod01">
                    <h5>Título-1</h5>
                    <h6>R$ 100,00 x1</h6>
                </section>
            </section>

            <section id="pedido">
                <section id="prod02">
                </section>

                <section id="info-prod02">
                    <h5>Título-2</h5>
                    <h6>R$ 100,00 x1</h6>
                </section>
            </section>

            <section id="valor">
                <p>Subtotal</p>
                <p>Frete</p>
                <p id="desconto">Desconto</p>
                <p id="total">Total</p>
            </section>

            <section id="precos">
                <p>R$ 160,00</p>
                <p>R$ 0,00</p>
                <p>R$ 0,00</p>
                <p>R$ 0,00</p>
            </section>
    </main>


<!-- Carrinho -->
<%- include('./partials/carrinho') %>

<!-- Footer -->
<%- include('./partials/footer') %>