<!-- Header -->
<%- include('./partials/header') %>

    <!-- Conteudo -->
<main class="container compra-container">
    <section class="finalizar-compra">
        <div class="finalizar-item">
            <div class="finalizar-titulo">
                <span><i class="fa-solid fa-user"></i></span>
                <h5>Identificação</h5>
            </div>
            <hr>
            <div class="finalizar-conteudo">
                <form>
                    <div>
                        <label>Login:</label>
                        <input type="text" />
                    </div>
                    <div>
                        <label>Senha:</label>
                        <input type="password" />
                    </div>
                    <button class="btn"><a href="/finalizar-compra/endereco">Próximo</a></button>
                </form>
                <div class="finalizar-redes">
                    <button class="btn btn-facebook">
                        <a href="/users/googleauth" role="button" style="text-transform:none">
                            Acessar com
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </button>
                    <button class="btn btn-google">
                        <a href="/users/googleauth" role="button" style="text-transform:none">
                            Acessar com
                            <i class="fa-brands fa-google"></i>
                        </a>
                    </button>
                </div>
                <button class="btn btn-cadastrar"><a href="/usuario/cadastro">Cadastrar</a></button>
            </div>
        </div>

        <div class="finalizar-item">
            <div class="finalizar-titulo">
                <span><i class="fa-solid fa-cart-shopping"></i></span>
                <h5>Resumo do pedido</h5>
            </div>
            <hr>
            <div class="finalizar-conteudo">
                <ul class="navbar-nav flex-grow-1">
                    <li class="carrinho-item">
                      <div class="carrinho-info">
                        <img src="">
                        <div>
                          <h5><%= produto.titulo %></h5>
                          <h5>R$</h5>
                          <div class="produto-comprar">
                            <ul>
                              <li><a>-</a></li>
                              <li><a>1</a></li>
                              <li><a>+</a></li>
                            </ul>
                            <a>Excluir</a>
                          </div>
                        </div>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
    </section>
</main>

<!-- Carrinho -->
<%- include('./partials/carrinho') %>

<!-- Footer -->
<%- include('./partials/footer') %>