<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <!-- Responsividade -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Importando css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- FontAwesome -->
    <!-- <link rel="stylesheet" href="/fontawesome/css/all.css"> -->
    <link rel="stylesheet" href="fontawesome/css/all.css">

    <title>Editora Sabiá</title>
  </head>
  <body>
     <!-- Header Principal -->
     <header>
      <div class="header-1">
<<<<<<< HEAD
        <div class="logo"><a href="home"><img src="./img/logos/logoBranco_editoraSabia.svg" alt="Ir para a Home"></a></div>
=======
        <div class="logo"><a href="/index.html"><img src="./img/logos/logoBranco_editoraSabia.svg" alt="Ir para a Home"></a></div>
>>>>>>> e3355d2e85c09f42744dc9f3e8f357bd0a605bbd
        <div class="pesquisa">
          <form action="/action_page.php">
            <input type="text" placeholder="Livro ou Serie" name="search">
            <button class="botao-pesquisa" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
        </div>
        <div>
          <ul class="menus-header">
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn"><i class="fa-solid fa-user"></i></a>
                <div class="dropdown-content">
<<<<<<< HEAD
                  <a href="/login">Login</a>
=======
                  <a href="/login.html">Login</a>
>>>>>>> e3355d2e85c09f42744dc9f3e8f357bd0a605bbd
                  <a href="/cadastro" >Cadastrar</a>
                  </div>
            </li>
            <li><button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <span><i class="fa-solid fa-cart-shopping"></i></span>
            </button></li>
          </ul>
        </div>
        </div>
    </header>
    <!-- Navbar -->
    <div class="header-2">
      <ul class="navbar">
        <li><a href="#">Categorias</a></li>
        <li><a href="#">Lançamentos</a></li>
        <li><a href="#">Livros</a></li>
        <li><a href="#">E-books</a></li>
        <li><a href="#">Séries</a></li>
      </ul>
    </div>
    <!-- Conteudo da Home -->
    <section>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/banner/banner_editoraSabia-01.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/banner/banner_editoraSabia-02.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/banner/banner_editoraSabia-03.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <main>
      <section class="recomendacoes container">
        <h3 class="titulo">Últimos lançamentos</h3>
        <div class="livros">
            <div class="livros-item">
                <img src="/img/brasileira/essa-gente.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
            <div class="livros-item">
                <img src="/img/estrangeira/e-nao-sobrou-nenhum.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
            <div class="livros-item">
                <img src="/img/estrangeira/o-medico-e-o-monstro.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
            <div class="livros-item">
                <img src="/img/brasileira/triste-fim-de-policarpo-quaresma.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
        </div>
    </section>
    </main>

    <section class="recomendacoes container">
      <h3 class="titulo">Séries em destaque do mês</h3>
      <div class="series">
          <div class="livros-item">
<<<<<<< HEAD
              <img src="./img/series/box-george-orwell.webp">
=======
              <img src="/img/series/box-george-orwell.png">
>>>>>>> e3355d2e85c09f42744dc9f3e8f357bd0a605bbd
              <h4>Título livro</h4>
              <h4 class="preco">R$ 24,90</h4>
              <button><a>Comprar</a></button>
          </div>
          <div class="livros-item">
<<<<<<< HEAD
              <img src="./img/series/box-obras-de-mario-andrade.webp">
=======
              <img src="/img/series/box-obras-de-mario-andrade.png">
>>>>>>> e3355d2e85c09f42744dc9f3e8f357bd0a605bbd
              <h4>Título livro</h4>
              <h4 class="preco">R$ 24,90</h4>
              <button><a>Comprar</a></button>
          </div>
<<<<<<< HEAD
          <!-- <div class="series-img">
              <img src="/img/series/box-virginia-wolf.png">
          </div> -->
=======
          <div class="series-img">
              <img src="/img/series/box-virginia-wolf.png">
          </div>
>>>>>>> e3355d2e85c09f42744dc9f3e8f357bd0a605bbd
      </div>
  </section>

    <!-- Footer -->
    <footer>
      <div class="container grid-footer">
        <div class="logo">
            <img src="/img/logos/logoPrincipal_editoraSabia.svg">
        </div>
        <div>
            <h5>Sobre Nós</h5>
            <ul>
                <li><a href="">Quem somos</a></li>
                <li><a href="">Localização das lojas</a></li>
            </ul>
        </div>
        <div>
            <h5>Contato</h5>
            <ul>
                <li><a href="">Fale conosco</a></li>
                <li><a href="">Trabalhe conosco</a></li>
            </ul>
        </div>
        <div>
            <h5>Redes Sociais</h5>
            <ul class="redes-sociais">
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://br.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
            <h5>Formas de pagamento</h5>
            <ul class="pagamentos">
                <li><a><img src="/img/icon/visa.png"></a></li>
                <li><a><img src="/img/icon/mastercard.png"></a></li>
                <li><a><img src="/img/icon/americanexpress.png"></a></li>
                <li><a><img src="/img/icon/paypal.png"></a></li>
            </ul>
        </div>
    </div>
    </footer>


<<<<<<< HEAD
        <!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
=======
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
>>>>>>> e3355d2e85c09f42744dc9f3e8f357bd0a605bbd
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Carrinho</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="carrinho-item">
                <div class="carrinho-info">
                  <img src="/img/brasileira/cortico.webp">
                  <div>
                    <h5>Título</h5>
                    <h5>R$ 30,00</h5>
                    <div class="produto-comprar">
                      <ul>
                          <li><a>-</a></li>
                          <li><a>1</a></li>
                          <li><a>+</a></li>
                      </ul>
                      <a>Excluir</a>
                  </div>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
            </ul>
          </div>
        </div>

<<<<<<< HEAD
    Scripts para funcionamento do bootstrap 
    <script type="text/javascript" src="/js/bootstrap.js"></script> -->
=======
    <!--Scripts para funcionamento do bootstrap  -->
    <script type="text/javascript" src="/js/bootstrap.js"></script>
>>>>>>> e3355d2e85c09f42744dc9f3e8f357bd0a605bbd
  </body>
</html>