<!-- Header -->
<%- include('./partials/header') %>

    <!-- Conteudo da Home -->
    <section>
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/banner/banner_editoraSabia-01.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/banner/banner_editoraSabia-02.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/img/banner/banner_editoraSabia-03.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <main>
      <section class="recomendacoes container">
        <h3 class="titulo">Últimos lançamentos</h3>
        <div class="livros">
            <div class="livros-item">
                <img src="/img/brasileira/essa-gente.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
            <div class="livros-item">
                <img src="/img/estrangeira/e-nao-sobrou-nenhum.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
            <div class="livros-item">
                <img src="/img/estrangeira/o-medico-e-o-monstro.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
            <div class="livros-item">
                <img src="/img/brasileira/triste-fim-de-policarpo-quaresma.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
        </div>
    </section>
    </main>

    <section class="recomendacoes container">
      <h3 class="titulo">Séries em destaque do mês</h3>
      <div class="series">
          <div class="livros-item">
              <img src="/img/series/box-george-orwell.png">
              <h4>Título livro</h4>
              <h4 class="preco">R$ 24,90</h4>
              <button><a>Comprar</a></button>
          </div>
          <div class="livros-item">
              <img src="/img/series/box-obras-de-mario-andrade.png">
              <h4>Título livro</h4>
              <h4 class="preco">R$ 24,90</h4>
              <button><a>Comprar</a></button>
          </div>
          <div class="series-img">
              <img src="/img/series/box-virginia-wolf.png">
          </div>
      </div>
  </section>

  <!-- Carrinho -->
  <%- include('./partials/carrinho') %>

    <!-- Footer -->
    <%- include('./partials/footer') %>