<!-- Header -->
<%- include('./partials/header') %>

<!-- Conteúdo -->
    <main>
    <div>
    <div class="vitrine">
      <div class="livros-item">
          <img src="img/estrangeira/o capital.jpg"/>
          <h4> O capital</h4>
          <h4 class="preco">R$ 50,00</h4>
          <button><a>Comprar</a></button>
        </div>
      <div class="livros-item">
        <img src="img/estrangeira/um sentido para vida.jpg"/>
        <h4>Um sentido para a VidA</h4>
        <h4 class="preco">R$ 40,00 </h4>
        <button><a>Comprar</a></button> 
        </div>
      
    <div class="livros-item">
          <img src="img/estrangeira/trabalho assalariado.jpg"/>
          <h4>Trabalho Assalariado e Capital</h4>
          <h4 class="preco">R$ 30,00 </h4>
          <button><a>Comprar</a></button> 
      </div>
      
      <div class="livros-item">
              <img src="img/estrangeira/minha vida.jpg"/>
              <h4> Minha vida</h4>
              <h4 class="preco">R$ 40,00 </h4>
              <button><a>Comprar</a></button> 

      </div>
    </div>
    </main>

<!-- Carrinho -->
<%- include('./partials/carrinho') %>

<!-- Footer -->
<%- include('./partials/footer') %>