<!-- Header -->
<%- include('./partials/header') %>

<!-- Conteúdo -->
   <!-- Conteudo Login-->
   <main class="login container">
      <div class="login-img">
      </div>
      <div class="login-info">
          <img class="login-logo" src="/img/logos/logoPreto_editoraSabia.svg">
          <h3>Bem vindo a Editora Sabiá!</h3>
          <form action="/acaoLogin" method="POST">
              <label>User name ou E-mail:</label>
              <input name="login" id="login">
              <label>Senha:</label>
              <input name="senha" id="senha">
              <button class="btn"><a>Acessar</a></button>
          </form>
          <p>Ou autenticar usando sua conta em:</p>
          <div class="login-redes">
              <a class="btn btn-outline-dark" href="/users/googleauth" role="button" style="text-transform:none">
                  Acesse com
                  <i class="fa-brands fa-google"></i>
              </a>

              <a class="btn btn-outline-dark" href="/users/googleauth" role="button" style="text-transform:none">
                  Acesse com
                  <i class="fa-brands fa-facebook-f"></i>
              </a>
          </div>
          <p>Novo por aqui? <a class="acessar">Crie sua conta!</a></p>
      </div>
  </main>

<!-- Carrinho -->
<%- include('./partials/carrinho') %>

<!-- Footer -->
<%- include('./partials/footer') %>