<!-- Header -->
<%- include('./partials/header') %>

<!-- Conteúdo -->
    <section class="grid-painel container">
      <!--Menu Usuario-->
      <section class="painel-menu">
        <div class="usuario-card">
          <div class="usuario-img">
            <a><img src="" /></a>
          </div>
          <div class="usuario-info">
            <h6>Nome do usuário</h6>
            <p>email do usuário</p>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="">Dados pessoais</a></li>
            <li class="active"><a href="">Pedidos</a></li>
            <li><a href="">Sair</a></li>
          </ul>
        </nav>
      </section>

      <!--Dados do Usuário-->
      <section class="painel-conteudo">
        <div id="dados-pessoais" class="usuario-pessoal">
          <h2>Dados Pessoais</h2>
          <div class="info-pessoal">
            <div id="pessoal-pronto">
              <div>
                <h4>Nome Completo</h4>
                <p>André Santos</p>
              </div>
              <div>
                <h4>E-mail</h4>
                <p>andre@gmail.com</p>
              </div>
              <div>
                <h4>CPF</h4>
                <p>456.485.658-96</p>
              </div>
              <button class="btn"><a>Editar</a></button>
            </div>
          </div>
        </div>
      </section>
    </section>

 <!-- Carrinho -->
<%- include('./partials/carrinho') %>

<!-- Footer -->
<%- include('./partials/footer') %>