<!-- Header -->
<%- include('./partials/header') %>

<!-- Conteúdo -->
    <!--Breadcrumb-->
    <div></div>
    <!-- Produto -->
    <section class="produto container">
        <!--Imagens-->
        <div class="produto-galeria">
            <div class="galeria-imagem">
                <img src="/img/brasileira/capitaes-da-areia.webp">
            </div>
            <div class="galeria-thumb">
                <span><img></span>
                <span><img></span>
                <span><img></span>
                <span><img></span>
            </div>
        </div>
        <!--Informações produto-->
        <div class="produto-info">
            <h2>Título do Livro</h2>
            <h6>Nome do Autor</h6>
            <h2 class="preco">R$ 24,90</h2>
            <div class="produto-comprar">
                <ul>
                    <li><a>-</a></li>
                    <li><a>1</a></li>
                    <li><a>+</a></li>
                </ul>
                <button><a>Comprar</a></button>
            </div>
        </div>
    </section>

    <!--Resumos-->
    <section class="tab container">
        <div class="tab-nav">
            <ul>
                <li><a>Descrição</a></li>
                <li><a>Autor</a></li>
                <li><a>Avaliações</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat error impedit voluptatibus sit incidunt a, veniam, harum sequi aut quas nihil repudiandae voluptas numquam neque? Obcaecati ad quis adipisci cum fugiat voluptas veritatis vitae repellat magni cupiditate doloribus sit, repellendus harum a debitis dignissimos numquam tempora sint, nulla neque maiores porro? Cupiditate eligendi quas natus ab animi autem, pariatur assumenda aut minima ea consequatur optio dolor. Totam aliquam, non rerum earum eos culpa aspernatur, voluptatum officiis delectus sunt tempore deserunt laborum laboriosam quasi omnis, perferendis nisi? Aut vitae aspernatur dolorum, modi sit voluptatem ut, quasi iusto, recusandae quam est? Odit libero, quas nemo quod tempore amet asperiores! At deserunt aspernatur aperiam possimus tenetur, voluptate tempora accusamus, porro hic fugit dolorum numquam corporis mollitia quis minima, perspiciatis ut molestias necessitatibus rerum sed neque accusantium! Laboriosam sit quae corrupti facilis, ratione aspernatur? Tenetur, esse repellat modi quo eligendi cumque optio odio cum eaque officia sit quos quia mollitia. Ad vitae quidem iste non aliquid a maxime. Quisquam quam fugiat laudantium libero ratione. Assumenda saepe temporibus a modi! Facere quasi neque commodi qui quae? Excepturi ea vel voluptatem at! Perspiciatis nisi aliquid repellendus, facilis amet iusto ipsum debitis a ipsa quidem reiciendis voluptas mollitia tenetur id consequatur assumenda eum nesciunt temporibus odio, quam dolore corrupti possimus, repellat doloremque. Corrupti debitis exercitationem laboriosam modi explicabo id beatae, eius quam saepe, optio aperiam voluptates amet repellat? Tenetur inventore natus voluptatum. Aliquid blanditiis eum eos! Sint sed optio soluta exercitationem ratione, doloribus temporibus consequuntur aperiam consectetur! Explicabo, expedita necessitatibus nemo eligendi perspiciatis minus? Nemo rem quos error assumenda? Eos nam et modi saepe numquam similique iure, natus voluptas sequi nemo labore commodi iusto? Necessitatibus ratione cupiditate culpa temporibus voluptatum impedit enim magni et nemo vel. Deserunt impedit consequuntur ab praesentium fugit fugiat provident dignissimos eligendi sunt!</p>
        </div>
    </section>

    <!--recomendações-->
    <section class="recomendacoes container">
        <h3 class="titulo">Você também pode gostar:</h3>
        <div class="livros">
            <div class="livros-item">
                <img src="/img/brasileira/essa-gente.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
            <div class="livros-item">
                <img src="/img/estrangeira/e-nao-sobrou-nenhum.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
            <div class="livros-item">
                <img src="/img/estrangeira/o-medico-e-o-monstro.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
            <div class="livros-item">
                <img src="/img/brasileira/triste-fim-de-policarpo-quaresma.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
        </div>
    </section>

<!-- Carrinho -->
<%- include('./partials/carrinho') %>

<!-- Footer -->
<%- include('./partials/footer') %>