<!-- Header -->
<%- include('./partials/header') %>

<!-- Conteúdo -->
    <main>
    <div>
      <section class="produtos container">
        <div class="livros">
            <div class="livros-item">
                <img src="/img/brasileira/essa-gente.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
            <div class="livros-item">
                <img src="/img/estrangeira/e-nao-sobrou-nenhum.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
            <div class="livros-item">
                <img src="/img/estrangeira/o-medico-e-o-monstro.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
            <div class="livros-item">
                <img src="/img/brasileira/triste-fim-de-policarpo-quaresma.webp">
                <h4>Título livro</h4>
                <h4 class="preco">R$ 24,90</h4>
                <button><a>Comprar</a></button>
            </div>
        </div>
    </section>
    </main>

<!-- Carrinho -->
<%- include('./partials/carrinho') %>

<!-- Footer -->
<%- include('./partials/footer') %>